
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  
  table, th, td {
    border: 1px solid #161515;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f3afaf;
  }
  
  a {
    text-decoration: none;
    color: #0f0f0f;
  }
  
  h2 {
    font-size: 18px;
    margin: 0;
  }
  
