/* formulario.css */


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b0a6b1;
    border-radius: 10px;
}


.form-control {
    margin-bottom: 15px;
}


.btn {
    margin-right: 10px;
}


a {
    text-decoration: none;
    color: #333;
}
